include *.txt
include *.md
recursive-include duck *
exclude duck/**/__pycache__
exclude duck/**/__pycache__/*.pyc
exclude duck/**/.logs
exclude duck/**/.logs/*.log
exclude duck/**/.cache/
exclude duck/**/.cache/*
global-exclude *.log
global-exclude .cache/
global-exclude .logs/
global-exclude staticfiles/
global-exclude staticfiles/*
graft duck/etc/staticfiles