{# CSRF Error Page Template #}  
{# This template uses Django's templating engine and is only rendered in the user's browser if DEBUG=True #}  
{% extends "base_template_response.html" %}  

{% block title %}CSRF Error{% endblock title %}  

{% block nav_links %}
<!-- Clear navigation links for this error page -->  
{% endblock nav_links %}  

{% block main %}
<div class="container" id="error-container">
    <h1>Oops! Something went wrong</h1>
    <h2 id="subheading">CSRF Middleware token error!</h2>
    <p>
        Duck does not trust this site: {{ request.build_absolute_uri('/') }}
    </p>

    {% if reason %}
    <p><strong>Reason:</strong> {{ reason }}.</p>
    <p>
    Duck implements CSRF tokens to enhance security, ensuring that your browser is protected from unauthorized third-party access and preventing potential hijacking attempts.
    </p>
    <p>Perhaps, you forgot to include &#123;% csrf_token &#125; or CSRFInput component in your form!</p>
    <br>
    {% endif %}

    <p>
        You are seeing this page because <code>DEBUG=True</code> in your Duck settings.  
        To see a standard error page instead, set <code>DEBUG=False</code>.
    </p>
    
    <div>
    	<a id="go-back-link" href="{{request.absolute_uri}}" alt="Go back">GO BACK</a>
    </div>
</div>
<style>
    #error-container {
        background-color: #fdf2f2; /* Soft red background for better readability */
    }
    
    #error-container  #subheading {
        color: #d32f2f; /* Deep red for error text */
        font-family: ui;
    }
    
    #go-back-link {
        text-decoration: none;
        color: var(--primary-color);
    }
    
</style>
{% endblock main %}  
