{% extends "base.html" %}

{% block title %}About Us{% endblock title %}


{% block main %}
<h1>About Us</h1>

<p>Duck Server is a Python-based webserver and reverse proxy with strong integration of Django. We provide seamless integration with Django projects and support for HTTPS and SSL certificate generation.</p>

<img src="{{about_image}}" alt="About Us Image">
<p>Our mission is to deliver the best server experience for all your needs. With Duck Server, you can easily set up and run your web applications with minimal configuration.</p>
{% endblock main %}