/* Contact Us Page */

.contact-form {
    background: var(--container-bg);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
    width: 85%;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.form-group label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: var(--font-family);
    background: #fff;
    color: var(--text-color);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    .form-control {
        background: #1a1a1a;
        border: 1px solid #555;
        color: var(--text-color);
    }
}

.form-control:focus {
    border-color: var(--primary-hover);
    box-shadow: 0 0 5px rgba(255, 140, 0, 0.5);
    outline: none;
}

.button {
    background-color: var(--primary-hover);
    color: white;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    font-family: var(--font-family);
}

.button:hover,
.button:focus {
    background-color: var(--primary-color);
    transform: scale(1.05);
    outline: none;
}

.button #toggle-testfile-btn {
    font-size: 0.875rem;
    background-color: transparent;
    color: var(--primary-hover);
    border: 1px solid var(--primary-hover);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    transition: all 0.3s ease;
}

.feedback-message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #d6e9c6;
    margin: 1rem 0;
    font-size: 0.95rem;
}

form.contact-form input,
form.contact-form textarea {
    font-size: 1rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    padding: 0.75rem;
    background: #fff;
    border: 1px solid #ccc;
    font-family: var(--font-family);
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
    form.contact-form input,
    form.contact-form textarea {
        background: #1a1a1a;
        border: 1px solid #555;
        color: var(--text-color);
    }
}

form.contact-form button {
    margin: auto;
}

@media (max-width: 600px) {
    .contact-form {
        padding: 1.5rem;
    }

    .form-group label {
        font-size: 1rem;
    }

    .form-control,
    .button {
        font-size: 0.95rem;
    }
}
